$star-item-color: #F5ED00;

.star-rating {
  font-size: 18px;
  display: block;
  float: left;
}

a.star-rating-item {
  padding-right: 3px;
  color: $star-item-color;
}

.article-rating {
  display: block;
  font-style: italic;
  color: $dark-gray;
}
