.stars.js-star-rating
  = simple_form_for([:users, article, rating], html: { class: "rating" }) do |f|
    = f.collection_radio_buttons :score, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"]], :first, :last
